html,body{
    margin: 0;
    padding: 0;
}
.thumbnails{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 50px auto;
    gap: 20px 20px;
    border: cornflowerblue solid 2px;

}
a{
    display: block;
    max-width: 280px;
    border: rgb(20, 20, 19) solid 2px;
    margin: auto;
   
}

.thumbnail{
    max-width: 180px;
    border-radius: 5px;
    margin: 3px;
}
img{
    display: block;
    max-width: 100%;
   
}